.navbar-container {
  display: flex;
  align-items: center;
  background-color: #001529;
  padding: 10px 30px;
}

.navbar-logo {
  height: 50px;
  margin-right: 20px;
}

.navbar-menu {
  flex: 1;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.ant-menu-horizontal {
  background-color: #001529;
  color: white;
  flex: 1;
  border-bottom: none;
}

.ant-menu-item,
.ant-menu-submenu-title {
  color: white !important;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover {
  color: #1890ff !important;
}

.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  border-bottom: none !important;
  background-color: rgba(24, 144, 255, 0.1);
}

.ant-menu-submenu-popup {
  max-height: 200px; 
  overflow-y: auto;
}

.ant-menu-submenu-title .anticon {
  color: white !important;
}

.ant-menu-item::after, 
.ant-menu-submenu-title::after {
  display: none !important;
}

.ant-menu-sub.ant-menu-vertical > .ant-menu-item,
.ant-menu-sub.ant-menu-vertical > .ant-menu-submenu-title {
  color: black !important;
}

.ant-menu-sub.ant-menu-vertical > .ant-menu-item:hover,
.ant-menu-sub.ant-menu-vertical > .ant-menu-submenu-title:hover {
  color: #1890ff !important;
}

.usermenu .ant-menu-item {
  background-color: #001529;
  color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.usermenu .ant-menu-item:hover {
  background-color: #1890ff !important;
  color: white !important;
}
