.admin-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
  }
  
  .admin-navbar h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .admin-navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .admin-navbar ul li {
    margin-left: 20px;
    cursor: pointer;
  }
  
  .admin-navbar ul li:hover {
    text-decoration: underline;
  }
  
  .admin-navbar ul li:last-child {
    color: #f00;
  }
  
  .admin-navbar ul li:last-child:hover {
    color: #c00;
  }
  